*.iml
*.aab
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
keystore.jks
keystore.properties
/app/dev/release/
/dev
/stage
/prod
/app/prod/release/output-metadata.json
app/stage
/sharedlibrary/build/
/java_pid1761.hprof
